###Day7
##Dataframe
Dataframe is nothing but 2 diamentional array which store data in tabular form

In [1]:
#Scalar object
a= 5
a

5

In [2]:
#vector object
a=[1,2,3,4,5,6,7]
a

[1, 2, 3, 4, 5, 6, 7]

In [3]:
#two diamentional array
c = [[1,2,3],[4,5,6],[7,8,9]]
c

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Key-Libraries
1) Pandas
- It is used for handeling and manipulating DataFrames(2 Dimensional Objects)
- Dataframe is a special kind of datastructures which allows you to store data in tabular format.

2) Numpy
- Numerical Python.
- It is used for numerical Operations.

3) Matplotlib and Seaborn
- It is used for data visualization in python.
- Seaborn is built on Matplotlib.

4) Scipy(scientific Python)
-  it is used for complex statistical Operations(Inferential Stats)

5) StatsModel
- It is used for Statistical Modeling.

6) Sklearn
- Sci-kit learn.
- It is used for Machine learning Algorithm.

In [13]:
import pandas as pd

In [5]:
df = pd.DataFrame({'Roll No' : [1,2,3,4,5,6], 'Name' : ['Neha', 'shravan', 'Manjunath', 'Saima', 'harshal', 'Sainath']},
                 index = [10,20,30,40,50,60])
df

    Roll No       Name
10        1       Neha
20        2    shravan
30        3  Manjunath
40        4      Saima
50        5    harshal
60        6    Sainath

In [6]:
#Reading the data

###Day6
If elif and elase conditions

In [ ]:
a=5
b=10
c=15
if(a>b and b>c):
  print ("a is greter")
elif b>c:
  print("b is greater")
else:
  print("Hello")

Hello

Write program for week day 1st day is sunday

In [ ]:
day = int(input("Enter Day Number = "))
if day==1:
  print ("Sun")
elif day==2:
  print("Mon")
elif day==3:
  print("Tue")
elif day==4:
  print("Wend")
elif day==5:
  print("Thur")
elif day==6:
  print("Fri")
else:
  print("Sat")

Enter Day Number = 3
Tue

In [ ]:
n = 1
while n<=5:
  print(n)
  n=n+1
print("end")

1
2
3
4
5
end

##Functions

Function is a block of code which is execute when it is call
You can pass data, known as parameter in to a function
function can return data as a result

Create Function for Area of square
Create Function for Area of Reactangle
Create Function for Area of Triangle
Create Function for Area of Circle

In [ ]:
def Area_of_Reactangle(l,b):
  area = l*b
  return area

In [ ]:
def Area_of_Square(l):
  return l*4

In [ ]:
import math
def Area_of_Circle(r):
  area = math.pi*r
  return area

In [ ]:
def Area_of_Triangle(h,b):
  area = (h*b)/2
  return area

In [ ]:
print('Area of square = ' , Area_of_Square(int(input('Enter length = '))))
print('Area_of_Circle = ' , Area_of_Circle(int(input('Enter radious = '))))
print('Area_of_Reactangle = ', Area_of_Reactangle(int(input('Enter l = ')),int(input('Enter b = '))))
print('Area_of_Triangle = ' ,Area_of_Triangle(int(input('Enter h = ')),int(input('Enter b = '))))

Enter length = 5
Area of square =  20
Enter radious = 5
Area_of_Circle =  15.707963267948966
Enter l = 7
Enter b = 5
Area_of_Reactangle =  35
Enter h = 5
Enter b = 5
Area_of_Triangle =  12.5

###Day5

##Dictionary

In [ ]:
India = {'KA':'Bangalore','MH':'Mumbai','AP':' Amaravati','Assam':'Dispur',
'Bihar': 'Patna'}

print(India)
print(India.keys())
print(India.values())

{'KA': 'Bangalore', 'MH': 'Mumbai', 'AP': ' Amaravati', 'Assam': 'Dispur', 'Bihar': 'Patna'}
dict_keys(['KA', 'MH', 'AP', 'Assam', 'Bihar'])
dict_values(['Bangalore', 'Mumbai', ' Amaravati', 'Dispur', 'Patna'])

###For Loop
loops are used to iterating over sequence

In [ ]:
list = ['a','b','c','d','e']
for i in list:
  print(i)

a
b
c
d
e

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

Write a program to print 1 to 10 even numbers

In [ ]:
for i in range(1,10+1):
  if(i%2==0):
    print(i)

2
4
6
8
10

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

Write a program for patter
 *
 *
 *
 *
 *
 *
 *

In [ ]:
for i in range(7):
  print('* ')

*
*
*
*
*
*
*

In [ ]:
list = ['a','b','c','d','e','f','g']
for i in list:
  if i=='c':
    break
  print(i)

a
b

In [ ]:
list = ['a','b','c','d','e','f','g']
for i in list:
  if i=='c':
    continue
  print(i)

a
b
d
e
f
g

###Day4

In [ ]:
list1 = [1,4,3,6,5,4,7,8]
print(list1)
list1.sort()
print(list1)

[1, 4, 3, 6, 5, 4, 7, 8]
[1, 3, 4, 4, 5, 6, 7, 8]

In [ ]:
list1 = [1,4,3,6,5,4,7,8]
print(list1)
list1.sort(reverse=True)
print(list1)

[1, 4, 3, 6, 5, 4, 7, 8]
[8, 7, 6, 5, 4, 4, 3, 1]

In [ ]:
list1 = [1,4,3,6,5,4,7,8]
print(list1)
list1.pop()
print(list1)

[1, 4, 3, 6, 5, 4, 7, 8]
[1, 4, 3, 6, 5, 4, 7]

In [ ]:
list1 = [1,4,3,6,5,4,7,8]
print(list1)
list1.pop(4)
print(list1)

[1, 4, 3, 6, 5, 4, 7, 8]
[1, 4, 3, 6, 4, 7, 8]

In [ ]:
list1 = [1,4,3,6,5,4,7,8]
print(list1)
list1.remove(3)
print(list1)

[1, 4, 3, 6, 5, 4, 7, 8]
[1, 4, 6, 5, 4, 7, 8]

In [ ]:
list1 = [1,4,3,6,5,4,7,8]
print(list1)
del list1[1]
print(list1)

[1, 4, 3, 6, 5, 4, 7, 8]
[1, 3, 6, 5, 4, 7, 8]

###Tuple
 ordered and unchangeable

In [ ]:
tpl = (19,74,938,45364,38462,98,6,3847.364)
tpl

(19, 74, 938, 45364, 38462, 98, 6, 3847.364)

In [ ]:
len(tpl)

8

In [ ]:
tpl[3]

45364

In [ ]:
if 19 in tpl:
  print("yes")

yes

In [ ]:
tpl = (19,74,938,45364,38462,98,6,3847,364,1,5,5,4,3,3,4,6,6)
tpl

(19, 74, 938, 45364, 38462, 98, 6, 3847, 364, 1, 5, 5, 4, 3, 3, 4, 6, 6)

In [ ]:
tpl.count(5)

2

##Set
unordered and not allow duplicate elements

In [ ]:
set = {'Ramesh', 'Suresh','Ramesh'}
print(set)

{'Suresh', 'Ramesh'}

In [ ]:
set1 = {'Ramesh', 'Suresh','Ramesh' , 'Harsh', 'Ramu', 'Ganu'}
set2= {'Ramesh', 'Suresh','Ramesh'}

set1.update(set2)
print(set1)

{'Suresh', 'Ramesh', 'Harsh', 'Ramu', 'Ganu'}


###Day3

Data type
1. Integer
2. string
3. boolen
4. commplex
5. float

In [ ]:
a = 5
b = 5
print (a+b)

10

In [ ]:
type(a)
type(b)

int

In [ ]:
a = "Python"
type(a)

str

In [ ]:
a= 5.5
type(a)

float

In [ ]:
b= 5j+5
type(b)

complex

Data Structure
1. List
2. Dictionry
3. Flot
4. Set

###List

In [ ]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
type(list)

list

In [ ]:
list1  = ['Python', 5.5, 33, 3j+6]
print(list1)
print(type(list1))
print(list1[0])

['Python', 5.5, 33, (6+3j)]
<class 'list'>
Python

In [ ]:
list2 = ['Zero','one','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten']
print(list2)
print(list2[2:4])
if 'Three'in list2:
  print("Yes");

['Zero', 'one', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']
['Two', 'Three']
Yes

###Day2

In [ ]:
!git clone https://github.com/ShravanJadhav/DataScience_Practice.git

fatal: destination path 'DataScience_Practice' already exists and is not an empty directory.

In [ ]:
print("Hello Python")

Hello Python

###Day1
Introduction and basics of python

In [ ]:
a=5
b=4
print(a+b)

9