Q1: Given two arrays, write a python function to return the intersection of the two? For example, X = [1,5,9,0] and Y = [3,0,2,9] it should return [9,0]

In [ ]:
X = [1,5,9,0]
Y = [3,0,2,9]

set(X).intersection((set(Y)))

{0, 9}

Q2: Given an array, find all the duplicates in this array? For example: input: [1,2,3,1,3,6,5] output: [1,3]

In [ ]:
input = [1,2,3,1,3,6,5]
duplicate = set()
seen = set()
for i in input:
  if i in seen:
    duplicate.add(i)
  else:
    seen.add(i)
print(list(duplicate))

[1, 3]

Q3: Given an integer array, return the maximum product of any three numbers in the array?

In [ ]:
test = [1,2,3,4,5,6,7,8,9]

test.sort(reverse=True)

print(test[0],test[1],test[2])

9 8 7

In [ ]:
import heapq

a = heapq.nlargest(3,test)
b = heapq.nsmallest(2,test)
max(a,b)

[9, 8, 7]

Q4: Given an integer array, find the sum of the largest contiguous subarray within the array. For example, given the array A = [0,-1,-5,-2,3,14] it should return 17 because of [3,14]. Note that if all the elements are negative it should return zero.

In [8]:
def maxTwoSum(arr):
  n = len(arr)
  maxSum = 0;
  if n == 1:
    maxSum= arr[0]
    return maxSum
  else:
    for i in range(n-1):
      currSum=0
      for j in range(n):
        currSum = arr[i]+arr[j];
        maxSum = max(currSum,maxSum)
  if maxSum<0:
    return 0;
  else:
    return maxSum

In [7]:
A = [0,-1,-5,-2,3,14]
maxTwoSum(A)

17

In [9]:
def maxTwoSum(arr):
  n = len(arr)
  maxSum = 0
  if n == 1:
    maxSum= arr[0]
    return maxSum
  else:
    for i in range(n-1):
      currSum = arr[i]+arr[i+1]
      maxSum = max(maxSum,currSum)
  if maxSum<0:
    return 0
  else:
    return maxSum

In [10]:
A = [0,-1,-5,-2,3,14]
maxTwoSum(A)

17