<a href="https://colab.research.google.com/github/ShravanJadhav/DataScience_Practice/blob/main/PythonPracticeQuestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Given two arrays, write a python function to return the intersection of the two? For example, X = [1,5,9,0] and Y = [3,0,2,9] it should return [9,0]

In [7]:
X = [1,5,9,0]
Y = [3,0,2,9]

set(X).intersection((set(Y)))

{0, 9}

Q2: Given an array, find all the duplicates in this array? For example: input: [1,2,3,1,3,6,5] output: [1,3]

In [23]:
input = [1,2,3,1,3,6,5]
duplicate = set()
seen = set()
for i in input:
  if i in seen:
    duplicate.add(i)
  else:
    seen.add(i)
print(list(duplicate))

[1, 3]

Q3: Given an integer array, return the maximum product of any three numbers in the array?

In [27]:
test = [1,2,3,4,5,6,7,8,9]

test.sort(reverse=True)

print(test[0],test[1],test[2])

9 8 7

In [28]:
import heapq

a = heapq.nlargest(3,test)
b = heapq.nsmallest(2,test)
max(a,b)

[9, 8, 7]